@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: poppins, sans-serif;
    font-weight: 100;
    background-color: white;
}

.title{
    background-color: dodgerblue;
    color: white;
    text-shadow: 0px 0px 5px black;
    text-align: center;
    padding: .3em;
    user-select: none;
    pointer-events: none;
}

.container{
    height: auto;
    margin: 3rem;
    position: relative;
    margin-top: 2em;

}
.box{
    display: grid;
    place-content: center;
}
.video{
    cursor: zoom-in;
}
.shadow{
    box-shadow: 
        0px 0px 10px rgba(0, 0, 0, 0.15),
        0px 0px 10px rgba(0, 0, 0, 0.15);
}

.image{
    height: 300px;
    width: 300px;
    margin-inline: auto;
  
}
figcaption{
    color: rgb(255, 127, 63);
    font-weight: 600;
    text-align: center;
}
figcaption::before{
    content: "Captured on: ";
    color: black;
    font-weight: 400;

}

/* buttons  */
.buttons{
    text-align: center;
    border-radius: 100vmax;
    margin: 1.5em 0px;
}
button{
    padding: .5em .8em;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 100vmax;
    font-size: 1em;
}
.start-webcam-btn{
    background-color: dodgerblue;
    color: white;

}
.start-webcam-btn:hover{
    background-color: rgb(0, 128, 255);
}
.capture-btn{
    background-color: orange;
    color: white;
    text-shadow: 0px 0px 5px black;
}
.capture-btn:hover{
    background-color: rgb(255, 143, 5);
}
.disabled-btn{
    cursor: not-allowed;
    filter: blur(1px)
}


/* modal and full screen video  */
.modal{
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 0px;
    top: 0px;
    backdrop-filter: blur(5px);
    display: grid;
    place-content: center;
    cursor: zoom-out;
}
.close-modal-btn{
    position: absolute;
    right: 0;
    margin: 5px;
    font-weight: 600;
    color: green;
    user-select: none;
}

.modal video{
    height: 67vh;
    width: 80vw;
    box-shadow: 0px 0px 20px black;
    background-color: white;
}
.modal-hidden{
    display: none;
}

@media (max-width: 909px){
    .modal video{
        width: 60vw;
        height: auto;
    }
}
@media (min-width: 909px){
    .modal video{
        width: auto;
        height: 71vh;
    }
}